/* for tablets */

@media all and (max-width: 1000px) {

    .container{
        height: 1000px;
    }
    .box1{
        align-items: center;
        justify-content: center;
        width: 50%;
        font-size: 40px;
        position: relative;
        top: -90px;
        margin-left: 43 0px;
    }
    
    .box2{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    .head2{
        text-align: center;
    }
    h5{
        text-align: center;
    }
    .form-text{
        text-align: center;
    }
    input[type="text"]{
        width: 100%;
    }
    input[type="button"]{
        width: 100%;
    }
}

/* for smartphones */

@media all and (max-width: 600px) {
    .container{
        height: 600px;
    }
    .box2{
        width: 78%;
        margin: 0px;
        padding: 0px;
    }
}