* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-gap: 3.5rem;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "section section section section "
    "section1 section1 section1 section1 "
    "section2 section2 section2 section2 "
    "section3 section3 section3 section3 "
    "section4 section4 section4 section4 "
    "section5 section5 section5 section5 "
    "section6 section6 section6 section6 "
    "section7 section7 section7 section7 "
    "section8 section8 section8 section8 "
    "footer footer footer footer ";
  height: 200rem;
}

#navbar {
  grid-area: navbar;
  /* background-color: blueviolet; */
  border-radius: 3rem;
  height: 5rem;
}

#nav2 ul li {
  display: inline-block;
  padding-right: 80px;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  margin-top: 2rem;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 2rem;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform, border-radius;
  transition-property: box-shadow, transform, border-radius;
}

#nav2 ul li:hover {
  background-image: linear-gradient(273deg, #4776e6, #8e54e9);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
#head {
  grid-area: head;
  height: 5rem;
  display: flex;
  display: inline-block;
  font-size: 50px;
  /* text-shadow: 7px 7px 0px #6471e0; */
  font-family: "Bebas Neue", cursive;
  text-align: center;
  /* margin-left: 34rem;
  margin-top: -0.05rem; */
}
#section {
  display: grid;
  grid-template-areas:
    "head head head head"
    "mid mid mid mid"
    "end end end2 end2";
  grid-area: section;
  color: white;
  height: 41rem;
  background: linear-gradient(to right, #c33764, #1d2671);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #4000b8;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  box-shadow: 0px 12px 30px #6471e0;
  border-radius: 90px;
}

#head {
  display: flex;
  grid-area: head;
  text-align: center;
  justify-content: center;
}
#mid {
  display: flex;
  grid-area: mid;
  text-align: center;
  justify-content: center;
  
}
#end {
  display: flex;
  grid-area: end;
  text-align: center;
  justify-content: center;
}
#end {
  align-self: center;
  /* border: 2px solid red; */
  height: 5rem;
  width: 20rem;
  margin-top: 10rem;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 8rem;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform, border-radius;
  transition-property: box-shadow, transform, border-radius;
}

#end:hover {
  background-image: linear-gradient(273deg, #8e2de2, #4a00e0);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#end2 {
  align-self: center;
  /* border: 2px solid red; */
  height: 5rem;
  width: 20rem;
  margin-top: 3rem;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 8rem;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform, border-radius;
  transition-property: box-shadow, transform, border-radius;
}

#end2:hover {
  background-image: linear-gradient(273deg, #8e2de2, #4a00e0);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#end2 {
  display: flex;
  grid-area: end2;
  text-align: center;
  justify-content: center;
}
#section1 {
  display: grid;
  grid-template-areas:
    "side1 side1 side2 side2"
    "side1 side1 side2 side2"
    "side1 side1 side2 side2"
    "side1 side1 side2 side2";
  grid-area: section1;
  color: white;
  height: 41rem;
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    21deg,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    21deg,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 12px 30px #a75ce4;
  border-radius: 90px;
}
#section2 {
  display: grid;
  grid-template-areas:
    "side4 side4 side3 side3"
    "side4 side4 side3 side3"
    "side4 side4 side3 side3"
    "side4 side4 side3 side3";
  grid-area: section2;
  color: white;
  height: 41rem;
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    35deg,
    #8b6675,
    #654ea3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    35deg,
    #8b6675,
    #654ea3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 12px 30px #855075;
  border-radius: 90px;
}
#section3 {
  display: grid;
  grid-template-areas:
    "side5 side5 side6 side6"
    "side5 side5 side6 side6"
    "side5 side5 side6 side6"
    "side5 side5 side6 side6";
  grid-area: section3;
  color: white;
  height: 41rem;
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0px 12px 30px #53da87;
  border-radius: 90px;
}
#section4 {
  display: grid;
  grid-template-areas:
    "side8 side8 side7 side7"
    "side8 side8 side7 side7"
    "side8 side8 side7 side7"
    "side8 side8 side7 side7";
  grid-area: section4;
  color: white;
  height: 41rem;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3498db,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3498db,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0px 12px 30px #7e87da;
  border-radius: 90px;
}
#section5 {
  display: grid;
  grid-template-areas:
    "side9 side9 side10 side10"
    "side9 side9 side10 side10"
    "side9 side9 side10 side10"
    "side9 side9 side10 side10";
  grid-area: section5;
  color: white;
  height: 41rem;
  background: #e8cbc0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0px 12px 30px #6471e0;
  border-radius: 90px;
}
#section6 {
  display: grid;
  grid-template-areas:
    "side12 side12 side11 side11"
    "side12 side12 side11 side11"
    "side12 side12 side11 side11"
    "side12 side12 side11 side11";
  grid-area: section6;
  color: white;
  height: 41rem;
  background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(300deg,#333399,#ff00cc); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(300deg,#333399,#ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 12px 30px #bd4ad4;
  border-radius: 90px;
}
#section7 {
  display: grid;
  grid-template-areas:
    "side13 side13 side14 side14"
    "side13 side13 side14 side14"
    "side13 side13 side14 side14"
    "side13 side13 side14 side14";
  grid-area: section7;
  color: white;
  height: 41rem;
  background: linear-gradient(to right, #c33764, #1d2671);
  background-color: #4000b8;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  box-shadow: 0px 12px 30px #6471e0;
  border-radius: 90px;
}

#side1 img {
  margin-top: 7rem;
  margin-left: 7rem;
}

#side2 {
  grid-area: side2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 34px;
}

#side3 img {
  height: 25rem;
  width: 35rem;
  margin-top: 7rem;
  margin-right: 7rem;
}

#side4 {
  grid-area: side4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 34px;
}

#side5 img {
  height: 25rem;
  width: 35rem;
  margin-top: 7rem;
  margin-left: 7rem;
}

#side6 {
  grid-area: side6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 34px;
}

#side7 img {
  height: 25rem;
  width: 35rem;
  margin-top: 7rem;
  margin-right: 7rem;
}

#side8 {
  grid-area: side8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 34px;
}

#side9 img {
  height: 25rem;
  width: 35rem;
  margin-top: 7rem;
  margin-left: 7rem;
}

#side10 {
  grid-area: side10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 34px;
}

#side11 img {
  height: 25rem;
  width: 35rem;
  margin-top: 7rem;
  margin-right: 7rem;
}

#side12 {
  grid-area: side12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 34px;
}

#side13 img {
  height: 25rem;
  width: 35rem;
  margin-top: 7rem;
  margin-left: 7rem;
}

#side14 {
  grid-area: side14;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 34px;
}

#footer {
  grid-area: footer;
  margin-top: -6rem;
  height: 10rem;
  color: white;
  font-size: 20px;
  background-color: rgb(119, 173, 221);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 0px 12px 30px rgb(119, 173, 221);
}

#base {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: baseline;
  float: inherit;
}
